<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{c}}</p>
    <form action="/" method="POST">
    <input type="submit" value="+1">
    </form>

    <form action="/clear" method="POST">
        <input type="submit" value="delete">
    </form>

    <form action="/increase" method="POST">
    <input type="submit" value="+2">
    </form>

    <form action="/inacc" method="POST">
    <input type="number" name="var">
    <input type="submit", value="in acc">
    </form>
</body>
</html>