<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>counter</h2>
    <p>{{request.session.num}} times of vists</p>
    <p>{{request.session.number}} times:</p>
    <br> <br>
    <form action="/destroy" methode="POST">
        
        <input type="submit" value="reset">
</form> <br> <br>
<form action="/addtwo" methode="POST">
    
    <input type="submit" value="addtwo">
</form>
<form action='/addnum' method="POST">       
           {% csrf_token %}      
       <label>value</label>     
        <input type="number" name="number1">       
        <input type="submit" value="addnum">
     </form>
</body>
</html>