#container {
  margin: 10px 200px;
  outline: 1px solid red;
}

.box {
  border: 2px solid black;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
textarea {
  width: 944px;
  height: 200px;
}
