<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <style>
.box{
width: 50px;
height: 50px;
display: inline-block;
}

    </style>

    <title>ChessBoard</title>

</head>

<body>

<div class="container">
    {% for i in range(rows): %}
    
        {% for clmn in range(columns): %}
        {%if (i+clmn)%2!=0%}
        {% set color=color1%}
        {%else%}
        {% set color=color2%}
        {% endif %}
        <div class="box"  style="background-color:{{color}};" ></div>
        {% endfor %} <br>
     
    {% endfor %}
</div>

</body>
</html>